In [5]:
import pandas as pd
import pyreadstat

# 1. Escribir el nombre del archivo .sav
nombre_archivo_sav = 'Casen 2015.sav'

# 2. Eligir el nombre para el nuevo archivo .csv
nombre_archivo_csv = 'datos_convertidos2015.csv'

# 3. Leer el archivo .sav y guardarlo como DataFrame
df, meta = pyreadstat.read_sav(nombre_archivo_sav)

# 4. Guardar el DataFrame como un archivo .csv
df.to_csv(nombre_archivo_csv, index=False)

print(f"¡Éxito! Archivo convertido y guardado como: {nombre_archivo_csv}")

¡Éxito! Archivo convertido y guardado como: datos_convertidos2015.csv

In [6]:
# 1. Escribir el nombre del archivo .sav
nombre_archivo_sav = 'Casen 2017.sav'

# 2. Eligir el nombre para el nuevo archivo .csv
nombre_archivo_csv = 'datos_convertidos2017.csv'

# 3. Leer el archivo .sav y guardarlo como DataFrame
df, meta = pyreadstat.read_sav(nombre_archivo_sav)

# 4. Guardar el DataFrame como un archivo .csv
df.to_csv(nombre_archivo_csv, index=False)

print(f"¡Éxito! Archivo convertido y guardado como: {nombre_archivo_csv}")

¡Éxito! Archivo convertido y guardado como: datos_convertidos2017.csv

In [7]:
# 1. Escribir el nombre del archivo .sav
nombre_archivo_sav = 'Base de datos Casen 2022 SPSS_18 marzo 2024.sav'

# 2. Eligir el nombre para el nuevo archivo .csv
nombre_archivo_csv = 'datos_convertidos2022.csv'

# 3. Leer el archivo .sav y guardarlo como DataFrame
df, meta = pyreadstat.read_sav(nombre_archivo_sav)

# 4. Guardar el DataFrame como un archivo .csv
df.to_csv(nombre_archivo_csv, index=False)

print(f"¡Éxito! Archivo convertido y guardado como: {nombre_archivo_csv}")

¡Éxito! Archivo convertido y guardado como: datos_convertidos2022.csv

In [8]:
nombre_archivo = 'datos_convertidos2015.csv'

# Escribir los nombres exactos de las columnas que necesitamos
columnas_que_me_interesan = [
    "id_vivienda",
    'region',
    "provincia",
    'comuna',
    'zona',
    'ypchtot',
    'pobreza'
]

try:
    # 3. Cargar el CSV usando 'usecols' para filtrar
    df = pd.read_csv(
        nombre_archivo,
        usecols=columnas_que_me_interesan
    )
    
    # 4. Mostrar un resumen para verificar que funcionó
    print(f"¡Éxito! Se cargó el DataFrame solo con {len(df.columns)} columnas.")
    print("\n--- Primeras 5 filas: ---")
    print(df.head())
    
    print("\n--- Información del DataFrame: ---")
    df.info()

except FileNotFoundError:
    print(f"Error: No se encontró el archivo '{nombre_archivo}'.")
    print("Asegúrate de que esté en la misma carpeta que tu notebook.")
except ValueError as e:
    print(f"Error: {e}")
    print("\nPosible causa: Algún nombre en 'columnas_que_me_interesan' no existe en el archivo CSV.")
    print("Revisa que los nombres de las columnas estén escritos exactamente igual.")
except Exception as e:
    print(f"Ocurrió un error inesperado: {e}")

¡Éxito! Se cargó el DataFrame solo con 7 columnas.

--- Primeras 5 filas: ---
    id_vivienda  region  provincia  comuna  zona  ypchtot  pobreza
0  1.101100e+09     1.0       11.0  1101.0   1.0  17953.0      1.0
1  1.101100e+09     1.0       11.0  1101.0   1.0  17953.0      1.0
2  1.101100e+09     1.0       11.0  1101.0   1.0  17953.0      1.0
3  1.101100e+09     1.0       11.0  1101.0   1.0  17953.0      1.0
4  1.101100e+09     1.0       11.0  1101.0   1.0  17953.0      1.0

--- Información del DataFrame: ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266968 entries, 0 to 266967
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id_vivienda  266968 non-null  float64
 1   region       266968 non-null  float64
 2   provincia    266968 non-null  float64
 3   comuna       266968 non-null  float64
 4   zona         266968 non-null  float64
 5   ypchtot      266968 non-null  float64
 6   pobreza      266713 non-null  float64
dtypes: float64(7)
memory usage: 14.3 MB

In [9]:
df.head(15)
# Pobreza 1=Pobre Extremo 2=Pobre no extremo 3=No pobre

     id_vivienda  region  provincia  comuna  zona   ypchtot  pobreza
0   1.101100e+09     1.0       11.0  1101.0   1.0   17953.0      1.0
1   1.101100e+09     1.0       11.0  1101.0   1.0   17953.0      1.0
2   1.101100e+09     1.0       11.0  1101.0   1.0   17953.0      1.0
3   1.101100e+09     1.0       11.0  1101.0   1.0   17953.0      1.0
4   1.101100e+09     1.0       11.0  1101.0   1.0   17953.0      1.0
5   1.101100e+09     1.0       11.0  1101.0   1.0  320000.0      3.0
6   1.101100e+09     1.0       11.0  1101.0   1.0  400000.0      3.0
7   1.101100e+09     1.0       11.0  1101.0   1.0  187500.0      3.0
8   1.101100e+09     1.0       11.0  1101.0   1.0  187500.0      3.0
9   1.101100e+09     1.0       11.0  1101.0   1.0  117953.0      3.0
10  1.101100e+09     1.0       11.0  1101.0   1.0  117953.0      3.0
11  1.101100e+09     1.0       11.0  1101.0   1.0  117953.0      3.0
12  1.101100e+09     1.0       11.0  1101.0   1.0  117953.0      3.0
13  1.101100e+09     1.0       11.0  1101.0   1.0  117953.0      3.0
14  1.101100e+09     1.0       11.0  1101.0   1.0  210554.0      3.0

In [10]:
df.to_csv("datos_socioeconomicos_2015", index=False)